<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Поиск фильма</title>
    <link rel="stylesheet" href="theme.css">

</head>
<body>


<div  class="container"   id = "app"  >




    <div class="card" >
        <h1> {{title}}</h1>
        <div class = "style"> <div class="form-control" >
            <input type="text"
                   v-bind:placeholder="placeholderString"
                   v-bind:Value = "inputValue"
                   v-on:input="inputChangeHandler"
                   v-on:keypress.enter="addNewFilm"
            >
        </div>

            <button class = "btn"  v-on:click="addNewFilm" >Поиск</button>

        </div>

            <hr>

            <h2>{{naFilm}}</h2>


        <div class = "var" v-if='naFilm===""'>

            <h2>{{nameFilm}}</h2>
            <h3 >{{yearFilm}}</h3>
            <p>{{aboutFilm}}</p>
            <ul class="list" v-if="genre.length !==0"> Жанры:
                <li class="list-item" v-for="f in genre"  >
                    {{f}}
                </li>

            </ul>
                    <div class = 'imeg'>
                        <img :src="posterURL" >
                    </div>
        </div>

    </div>
</div>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="app.js"></script>
</body>
</html>