


body {
    background: black;
    /*background-image: url(https://m.media-amazon.com/images/M/MV5BMGU2NzRmZjUtOGUxYS00ZjdjLWEwZWItY2NlM2JhNjkxNTFmXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_SX300.jpg)*/
}


.container {
    position: fixed;
    margin: 0 auto;
    width: 1024px;
    background: coral;
}

.style {
    display: flex;
    box-sizing: border-box;
}
/*.var {*/
/*    display:none*/
/*}*/