


body {

    background: limegreen;

    /*background-image: url(https://m.media-amazon.com/images/M/MV5BMGU2NzRmZjUtOGUxYS00ZjdjLWEwZWItY2NlM2JhNjkxNTFmXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_SX300.jpg)*/
}


.card {
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    position: page;
    margin: 0 auto;
    min-width: 500px;
    /*background: coral;*/
}
.style {
    /*position: page;*/
    /*width: 100%;*/
    display: inline-flex;
    text-align: center;
     }
@media (max-width: 1024px) {
    .style {
        margin-left: -94px;
        position: fixed;
        bottom: 0px;
        box-sizing: border-box;
    }
}
.list {
    display: inline-flex;
    list-style-position: inside;
    text-align: revert;
    /*padding-left: 400px;*/
}
.list-item {
    display: block;
    text-align: center;
}

